@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>
    Este projeto é um exemplo de um sistema de controle de estoque simples de uma livraria.
</p>
<p>
    Foi desenvolvida uma aplicação MVC, utilizando framework .NET 4.6.1, framework de ORM ADO.NET, SQL Server Management 2012.<br/>
    Além de Razor, Javascript, jQuery e AJAX para o CRUD.
</p>